<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BLACKPINK SHOP</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
    <link href="/css/templatemo-style.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="css/tooplate-chilling-cafe.css" rel="stylesheet" />

  </head>
  <!--
  
  Simple House
  
  https://templatemo.com/tm-539-simple-house
  
  -->
  <body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">BLACKPINK SHOP</h1>
								<h6 class="tm-site-description">블랙 핑크</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/" class="tm-nav-link active">Shop</a></li>
								<li class="tm-nav-li"><a href="/search" class="tm-nav-link">Manage products</a></li>
								<li class="tm-nav-li"><a href="#" class="tm-nav-link">About</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>