<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Welcome to Blackpink shop</h2>
        <p class="col-12 text-center">Black Pink (Korean: 블랙 핑크; English: Black Pink, often written BLACKPINK or BLΛƆKPIИK) is a South Korean girl group. Under the YG Entertainment Camp It consists of four members: Jisoo, Jenny, Rosé, and Lisa.</p>
    </header>
</main>