<%- include('../includes/head.ejs') %>

<div class="container mt-3">
    <h2 style="text-align: center; padding-top: 10px;">NEW PRODUCTProduct</h2>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                <% if (errorMessage) { %>
                    <div class="alert alert-warning" role="alert">
                        <%= errorMessage[0].param + ': '+ errorMessage[0].msg %>
                    </div>
                    <% } %>
                    <form method="POST">
                        <div class="form-group">
                            <label for="Product Name">Product Name</label>
                            <input type="text" class="form-control" name="product_name" placeholder="Product Name" value="">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" name="price" placeholder="Price" value="">
                        </div>
                        <div class="form-group">
                            <label for="Remaining">Remaining</label>
                            <input type="number" class="form-control" name="remaining" placeholder="Remaining" value="">
                        </div>
                        <div class="form-group">
                            <label for="Details">Details</label>
                            <input type="text" class="form-control" name="details" placeholder="Details" value="">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="category" value="<%= category %>">
                                <option value="">Product Type</option>
                                <option>Music album</option>
                                <option>Fashion</option>
                                <option>Photobook</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">Image</label>
                            <input type="test" class="form-control" name="image" placeholder="Image" value="">
                        </div><br>
                        <div class="form-group">
                            <button class="button button2" href="/products/search"> 
                                Back
                            </button>
                            <button type="submit" class="button button1" > Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<%- include('../includes/end.ejs') %>